<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/app/views/layouts/application.html.erb
-->

<h2>Search result</h2>
<p>
<!--
  削除確認ページ
-->
delete complete<br>
<%= @delete_result %> is deleted.
</p>
