<!--
  html風の記述でうまくサイトを構成します
  テンプレートはtraining_task/...s
-->

<h1>CourseSearcher</h1>
<p>logo image</p>
<a href="">All search</a><br>
word search
<!--railsのtextboxを使ってみたかったので使う-->
<%= text_field :page, :keyword %>
<%= button_to "search", {controller: 'course_searcher', action: 'error'}, {method: :get} %>
<!--railsのradio buttonを使ってみたかったので使う-->
<%= radio_button 'page', 'category', 'keyword', {:checked => true} %>keyword
<%= radio_button 'page', 'category', 'category', {} %>category
